Uimenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-size: 50px;

	> .pauseMenu {
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-items: center;


		> h1 {
			font-size: 100px;
			font-weight: 900;
		}

		> .button {
			padding: 20px 70px;
			background-color: darkcyan;
			border-radius: 100px;
		}
	}

	> .gameOverMenu {
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-items: center;


		> h1 {
			font-size: 100px;
			font-weight: 900;
		}

		> .button {
			padding: 20px 70px;
			background-color: darkcyan;
			border-radius: 100px;
		}
	}

	.hide {
		display: none;
		position: absolute;
		opacity: 0;
	}

	&.hide {
		display: none;
		opacity: 0;
	}

	> .leaderboard {
		background-color: rgba(black, 0.5);
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		padding: 30px;
		border-radius: 50px;
		position: absolute;
		top: 0;
		right: 0;
		margin: 20px;

		> .title {
			border-bottom: solid 2px white;
		}

		> .item {
			border-bottom: solid 1px white;
		}
	}
}
