Uimenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-size:50px;

	>.pauseMenu{
		margin:auto;
		display: flex;
		flex-direction:column;
		gap:40px;
		align-items:center;
		

		>h1{
			font-size:100px;
			font-weight:900;
		}

		>.button{
			padding:20px 70px;
			background-color: darkcyan;
			border-radius:100px;
		}
	}
	&.hide{
		display: none;
		opacity: 0;
	}
	
}