@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="points">Score: @Player.Kills</div>
</root>

@code
{

    [Property]
    public Player Player { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Player.Kills );
}
