@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="points">Score: @_score</div>
</root>

@code
{

    [Property]
    public Player Player { get; set; }

    private int _score = 0;

    protected override void OnUpdate()
    {
        base.OnUpdate();

        _score = Player.Kills;
    }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( _score );
}
